<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> ontwikkelt en verzorgt workshops over de basisvaardigheden op het gebied van data die nodig zijn voor het uitvoeren van onderzoek. 
  De doelgroep bestaat uit onderzoekers met weinig tot geen eerdere computationele ervaring. 
  De lessen zijn domeinspecifiek en bouwen voort op de bestaande kennis van deelnemers, zodat zij de aangeleerde vaardigheden snel kunnen toepassen in hun eigen onderzoek.
Deelnemers worden aangemoedigd elkaar te helpen en het geleerde direct toe te passen op vraagstukken uit hun eigen onderzoekspraktijk.
</p>
<p align="center">
  <em>
    Voor meer informatie over wat wij onderwijzen en waarom, bekijk onze paper 
    "<a href="https://doi.org/10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
